# IDEA project files
*.iml
.idea/misc.xml
.idea/modules.xml

# User-specific stuff
.idea/tasks.xml
.idea/workspace.xml
.idea/dictionaries
.idea/shelf/

#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars
